Repository rcarrillocruz/ansible-fork: changes, and which Zuul jobs are due for each by the changed paths.
All: network-integration-tests-openvswitch, network-integration-tests-vyos, network-integration-tests-nxos

.zuul.yaml:

- project:
    name: rcarrillocruz-org/ansible-fork
    check:
      jobs:
        - network-integration-tests-openvswitch
        - network-integration-tests-vyos
        - network-integration-tests-nxos

- job:
    name: network-integration-tests-openvswitch
    parent: network-integration-tests
    files:
      - ^lib/ansible/modules/network/ovs/.*$
      - ^test/integration/targets/openvswitch.*
    nodeset:
      nodes:
        - name: bastion
          label: ubuntu-xenial
        - name: openvswitch
          label: ubuntu-xenial
    vars:
      net_platform: openvswitch
      net_become: yes

- job:
    name: network-integration-tests-vyos
    parent: network-integration-tests
    files:
      - ^lib/ansible/modules/network/vyos/.*$
      - ^test/integration/targets/vyos.*
    nodeset:
      nodes:
        - name: bastion
          label: ubuntu-xenial
        - name: vyos
          label: vyos-1.1.7
    vars:
      net_platform: vyos

- job:
    name: network-integration-tests-nxos
    files:
      - ^lib/ansible/modules/network/nxos/.*$
      - ^test/integration/targets/nxos.*
    nodeset:
      nodes:
        - name: bastion
          label: ubuntu-xenial
        - name: nxos
          label: nxos-7.0.3.I5.1
    vars:
      net_platform: nxos
      net_port: 8022
      net_user: admin
      net_custom_options:
        debug: False
        ansible_ssh_pass: admin
        cli:
          transport: cli
        nxapi:                                                         
          transport: nxapi                                             
          use_ssl: no                                                  
          port: 8080

Split vyos tests
  .zuul.yaml
Due: none

Trigger vyos jobs
  test/integration/targets/vyos_command/tests/cli/bad_operator.yaml
Due: network-integration-tests-vyos

Revert "Trigger vyos jobs"
  test/integration/targets/vyos_command/tests/cli/bad_operator.yaml
Due: network-integration-tests-vyos

Trigger vyos jobs
  .zuul.yaml
Due: none

Trigger ovs tests
  test/integration/targets/openvswitch_db/tests/basic.yaml
Due: network-integration-tests-openvswitch

Use CentOS for bastion
  .zuul.yaml
Due: none
